<html>
  <head>
    <title>WELT2000</title>
  </head>
  <body>
    <h1>WELT2000</h1>

    <p>
    <a href="{{ url_for('index') }}">[Home]</a>
    <a href="">[News]</a>
    <a href="{{ url_for('contribute') }}">[Contribute]</a>
    <a href="">[Downloads]</a>
    <a href="{{ url_for('references') }}">[References]</a>
    <a href="">[FAQ]</a>
    </p>

    {% block content %}{% endblock %}

    <p>
    <a href="">[Contact]</a>
    <a href="">[Legal Terms]</a>
    <a href="">[RSS]</a>
    <a href="">[About]</a>
    </p>
  </body>
</html>
