<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>WELT2000</title>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}"/>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300|Metrophobic"/>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='banner.png') }}" class="visible-xs">
            <img src="{{ url_for('static', filename='logo-inverted.png') }}" class="hidden-xs">
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('index') }}">{{ _('Home') }}</a></li>
            <li><a href="{{ url_for('not_available') }}">{{ _('News') }}</a></li>
            <li><a href="{{ url_for('contribute') }}">{{ _('Contribute') }}</a></li>
            <li><a href="{{ url_for('downloads') }}">{{ _('Downloads') }}</a></li>
            <li><a href="{{ url_for('references') }}">{{ _('References') }}</a></li>
            <li><a href="{{ url_for('faq') }}">{{ _('FAQ') }}</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      {% block content %}{% endblock %}

      <div class="pull-right">
        <ul class="nav nav-pills">
          <li><a href="{{ url_for('contact') }}">{{ _('Contact') }}</a></li>
          <li><a href="{{ url_for('legal_terms') }}">{{ _('Legal Terms') }}</a></li>
          <li><a href="{{ url_for('rss') }}">{{ _('RSS') }}</a></li>
          <li><a href="{{ url_for('about') }}">{{ _('About') }}</a></li>
          <li>
            {% if get_locale() == 'de' -%}
            <a href="{{ url_for('lang', lang='en') }}"><img src="{{ url_for('static', filename='flags/gb.png') }}"></a>
            {%- else -%}
            <a href="{{ url_for('lang', lang='de') }}"><img src="{{ url_for('static', filename='flags/de.png') }}"></a>
            {%- endif %}
          </li>
        </ul>
      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>
