{% extends "_base.jinja" %}

{% block content %}
<h2>{{ _('Contribute') }}</h2>

<p>{{ _('There are several ways to contribute to the WELT2000 project.') }}</p>

<h3>{{ _('You are a Pilot or Airfield-Operator?') }}</h3>

<p>{{ _('Examine the information for the airfields and waypoints with which you are familiar. Are they faulty? Is information missing? If the answer is "yes" then you should make a <a href="%(link)s">Contribution to the Database</a>.', link=url_for('contribute_data')) }}</p>

<h3>{{ _('You are Responsible for a Website?') }}</h3>

<p>{{ _('Integrate our RSS-Feed "WELT2000-Updates" into your site. By doing this you are advertising the project and offer your visitors a practical service. All relevant information is on the <a href="%(link)s">RSS-page</a>.', link=url_for('rss')) }}</p>

<h3>{{ _('You Have Ideas, Criticism, Wishes?') }}</h3>

<p>{{ _('We welcome all feedback since this proves to us that we serve a purpose with this project.') }} <a href="{{ url_for('contact') }}">{{ _('Contact') }}</a></p>

<h3>{{ _('You Have Some Spare Cash Available?') }}</h3>

<p>{{ _('Sponsor the segelflug.de site! The WELT2000 website is hosted free of charge by this platform - however the platform itself incurs costs. The segelflug.de and WELT2000 work entirely voluntarily. <a href="%(link)s">segelflug.de Contacts %(symbol)s</a>', link='http://www.segelflug.de/impressum.html', symbol='<img src="' + url_for('static', filename='external-link.png') + '">') }}</p>
{% endblock %}
