{% extends "_base.jinja" %}

{% block content %}
<h2>{{ _('Legal Terms') }}</h2>

<a name="contributor-terms"></a>
<h3>{{ _('Contribution') }}</h3>

<p>{{ _('We respect the intellectual property of others. Hence those who contribute to the database must accept the <a href="%(link)s">Contributor Terms</a>. Amongst other things these ensure that:', link=url_for('not_available')) }}</p>

<ul>
  <li>{{ _('the rights of others are not violated,') }}</li>
  <li>{{ _('free-of-charge and unrestricted usage is possible and') }}</li>
  <li>{{ _('distribution and futher processing is allowed.') }}</li>
</ul>

<p>{{ _('NOTE: The above text is not the entire set of provisions; rather it is a summary of the most important points reduced to a form understandable by normal mortals.  Please also read the <a href="%(link)s">complete text</a>.', link=url_for('not_available')) }}</p>
{% endblock %}
