{% extends "_base.jinja" %}

{% block content %}
<h2>{{ _('References') }}</h2>

<p>{{ _('The WELT2000 database is the foundation of many devices and programs for aviation sports.') }}</p>

<table>
  <tbody>
    <tr>
      <th>{{ _('Vendor') }}</th>
      <th>{{ _('Product') }}</th>
      <th>{{ _('Homepage') }}</th>
    </tr>
    <tr>
      <td>Henryk Birecki</td>
      <td>GPS_LOG</td>
      <td><a href="http://www.soaringpilotsoftware.com/GPS_LOGpage.htm" target="_blank">Homepage GPS_LOG <img src="{{ url_for('static', filename='external-link.png') }}"></a></td>
    </tr>
    <tr>
      <td>kflog.org</td>
      <td>
        KFlog<br>
        Cumulus
      </td>
      <td>
        <a href="http://www.kflog.org/kflog/" target="_blank">Homepage KFlog <img src="{{ url_for('static', filename='external-link.png') }}"></a><br>
        <a href="http://www.kflog.org/cumulus/" target="_blank">Homepage Cumulus <img src="{{ url_for('static', filename='external-link.png') }}"></a>
      </td>
    </tr>
    <tr>
      <td>xcsoar.org</td>
      <td>
        XCSoar<br>
        SkyLines
      </td>
      <td>
        <a href="http://www.xcsoar.org/" target="_blank">Homepage XCSoar <img src="{{ url_for('static', filename='external-link.png') }}"></a><br>
        <a href="https://www.skylines-project.org/" target="_blank">Homepage SkyLines <img src="{{ url_for('static', filename='external-link.png') }}"></a>
      </td>
    </tr>
    <tr>
      <td>lk8000.it</td>
      <td>LK8000</td>
      <td><a href="http://www.lk8000.it/" target="_blank">Homepage LK8000 <img src="{{ url_for('static', filename='external-link.png') }}"></a></td>
    </tr>
  </tbody>
</table>

<p>
  <a href="">{{ _('Add a Device or Program') }}</a>
</p>
{% endblock %}
